/*

Ultime version de la feuille de style commune (à réutiliser dans les modules 4 et 5)

Ajout de la marge entre les sections
Ajout des la section form depuis le corrigé de l'exercice "form" du module 2
Ajout de la section table (version proche du corrigé de l'exercice "table" du module 2 mais avec quelques ajustements)

*/
/* *****************************************************************
TOOLS
***************************************************************** */

* {
	box-sizing: border-box; /* On spécifie que la largeur (width) de chaque boîte comprend le padding et la bordure (par défaut, c'est seulement la largeur du contenu) */
}

html {
	font-size: 62.5%; /* 1rem = 10px (la formule est 10/16*100) la taille par défaut étant 16px */
}

body {
	font-size: 1.8rem; /* on remets la taille du texte par défaut pour le body à 16px en utilisant les rem comme unité) */
}

/* *****************************************************************
GENERALITIES
***************************************************************** */

/* Le corps du document */
body {
	margin: 0;
	padding: 0;
	line-height: 1.5;
	font-family: 'Nunito', sans-serif;
	font-weight: normal;
	color: #414141;
	background-color: #f9f9f9;
}

/* Le titre principal d'un flux */
h1 {
	font-size: 2rem;
	color: #fff;
	font-family: 'Fjalla One', sans-serif;
	font-weight: normal;
}

/* Le titre de second niveau  */
h2 {
	font-size: 3rem;
	color: #00748D;
	font-family: 'Fjalla One', sans-serif;
	font-weight: normal;
	text-align: center;
}

.header-main{
	background-image: url(../images/bg-header.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
	height: 37.5em;
	display: flex;	
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header-main h2{
	color: #fff;
	background: #CB8606;
	padding: 0.3em;
	font-family: 'Fjalla One', sans-serif;
	font-weight: normal;
	font-size: 3rem;

}

.header-main h3{
	color: #00748D;
	background: #fff;
	padding: 0.4em;
	font-family: 'Fjalla One', sans-serif;
	font-weight: normal;
	font-size: 2rem;
	margin: 0;

}

/* Le titre de troisème niveau */
h3 {
	font-size: 2rem;
	font-family: 'Fjalla One', sans-serif;
	text-align: center;
}

/* Les liens */
a {
	text-decoration: none;
	color: #DD5735;
}

/* Ajout d'un élément de décoration au survol */
a:hover {
	text-decoration: none;
	color: #000;
}

.nav-link{
 color: #fff;
 text-decoration: none;
 font-family: 'Fjalla One', sans-serif;
 padding: 0.5em;
}

.nav-link:hover{
	color: #00748D;
	background: #fff;
	
}

/* Les listes */
li{
	list-style: none;
}


/* Contenu principal */

/* Les articles */
article {
	padding: 1.1em;
}

/* marge entre les sections */
section + section {
	margin-top: 2em;
}

/* *****************************************************************
CONTAINER
***************************************************************** */

/* Le container permet de limiter la largeur d'un contenu */
.container {
	max-width: 1200px; /* On donne une largeur au container */
	margin-left: auto; /* On centre son contenu */
	margin-right: auto;
	background-color: #f9f9f9;

}

.container-header{
	max-width: 1200px;
	margin: 0 auto;
}

/* *****************************************************************
MAIN LAYOUT
***************************************************************** */

/* L'entête de la page */
.header {
	padding: 1em;
	text-align: center;
	background-color: #00748D;
	background-image: url(../images/path.png);
	background-position:bottom;
	background-repeat: repeat-x;
}



/* Pas de marge pour le titre pricipal */
.header h1 {
	margin: 0;
}


/* Le pied de page */
.footer {
	padding: 2em;
	text-align: center;
	color: #fff;
	background-color: #444;
}

.footer-main{
	background-color: #00748D;
	background-image: url(../images/path.png);
	background-position:bottom;
	background-repeat: repeat-x;
	padding: 1em;
	margin-top: 1em;
	text-align: center;
}

.footer-main p{
	font-family: 'Nunito', sans-serif;
	color: #fff;
	padding: 0;
}

/* *****************************************************************
CARDS
***************************************************************** */

.card{
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;

}

.cards > * {
	margin: 1em;
	background-color: #fff;
	border: 2px solid #00748D;
}

.gutter > * {
	margin: 1em;
}

/* *****************************************************************
FORM
***************************************************************** */

/* Style pour une barre d'outils => ou placer les boutons */
.toolbar {
	padding: 1em 2em;
	text-align: center;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 0.5em;
}

/* Style de chaque bouton */
.button {
	display: inline-block;
	padding: 1em 2em;
	font-size: 1.6rem;
	color: #fff;
	background-color: #00748D;
	cursor: pointer;
	width: 78%;
}

.button:hover {
	text-decoration: none;
	color: #00748D;
	background: #fff;
}

/* *****************************************************************
VARIOUS
***************************************************************** */

/* Utile pour mettre en évidence un parent */
.parent {
	border: 1px dashed #DD5735;
}

/* Utile pour mettre en forme du code informatique */
.code {
	padding: 0.5em;
	font-family: Monaco, monospace;
	font-size: 14px;
	color: #000;
	background-color: #ddd;
	border: 1px solid #bbb;
}